@{
    ViewData["Title"] = "Home Calcula Juros";
}

<div class="container">

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="txtValorInicial">Valor Inicial</label>
            <input type="number" class="form-control" id="txtValorInicial">
        </div>

        <div class="form-group col-md-3">
            <label for="txtMeses">Meses</label>
            <input type="number" class="form-control" id="txtMeses">
        </div>
    </div>

    <button type="button" class="btn btn-primary" id="btnCalcular">Calcular</button>
</div>


@section Scripts {
    <script type="text/javascript">

        var Actions = {
            Calcula: '@Url.Action("Calcula", "Home")'
        };
    </script>
}
